@import url("https://fonts.googleapis.com/css?family=Open Sans Condensed:300");
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

.bigred{
	font-size: 20px;
	color: red;
}

    .header {
        background-color: #f2f2f2;
        border-bottom: 1px solid #dcdcdc;
    }
    
    .container {
        max-width: 980px;
        height: 230px;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo-and-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 65px auto 65px 0;

    }
      
    .logo img {
        height: 100px;
        width: 100px;
    }
    
    .company-info {
        margin-left: 10px;
        font-family: 'PT Sans', sans-serif;
    }

    .company-info h1 {
        margin: 0;
        font-size: 31px;
        text-align: left;
        color: #777777;
        line-height: 22px;
        font-weight: 700;
    }
    
    .company-info p {
        margin: 0;
        font-size: 16px;
        color: #808080;
        line-height: 22px;
    }
    
    .contact-number {
        font-size: 40px;
        line-height: 46px;
        font-family: 'Open Sans Condensed';
        margin: 45px 0 80px auto;
        text-align: right;
    }
    .contact-number a {
        color: #767676;
    }

    .contact-us {
    width: 171px;
    height: 36px;
    display: flex;
    text-align: right;
    margin-left: auto;
    border: 0;
    border-bottom: 3px dashed #888;
    padding: 0;
    margin-top: -4px;
    }

    .contact-us a {
        height: 22px;
        font-size: 22px;
        font-style: bold;
        font-weight: 700;
        font-family: 'PT Sans', sans-serif;
    }

    .menu-container {
    height: 80px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #777777;
    padding-top: 26px;
    padding-bottom: 27px;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'PT Sans', sans-serif;
        list-style: none;
        line-height: 22px;
        letter-spacing: 0.75px;
        height: 27px;
        width: 902px;
        font-size: 30px;
    }

    .menu-container ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    }

    .menu-container li {
    margin: 0 8px;
    }

    .menu-container li:before {
    content: "|";
    margin-right: 8px;
    color: #ebebeb;
    }

    .menu-container li:first-child:before {
    content: none;
    }

    .menu-container a {
    text-decoration: none;
    color: #ebebeb;
    height: 27px;
    }

    .menu-container a:hover {
        border-bottom: 1px solid #ebebeb;
    }

    .menu-toggle {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        border: none;
        background-color: #777777;
    }

    .menu-toggle span {
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: #fff;
        left: 5px;
    }

    .menu-toggle span:nth-child(1) {
        transform: translateY(-10px);
    }

    .menu-toggle span:nth-child(3) {
        transform: translateY(10px);
    }

    @media (max-width: 980px) {
        .container {
            max-width: 768px;
        }
        
    }

    @media (max-width: 890px) {
        .menu {
            font-size: 25px;
        }
    }

    @media (max-width: 768px) {
        .menu-toggle {
            display: block;
        }

        .menu {
            display: none;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            background-color: #fff;
        }

        .menu-container {
            position: relative;
        }

        .menu.active {
            display: flex;
            position: absolute;
            text-align: center;
            width: 100%;
        }

        .menu ul {
            text-align: center;
            margin-bottom: -141px;
            flex-direction: column;
            list-style: none;
            background-color: #777777;
            width: 100%;
            line-height: 20px;
            font-size: 23px;
        }

        .menu li {
            padding: 7px;
        }

        .menu-container li:before {
            content: none;
            }

            .menu-toggle.active span:nth-child(1) {
        transform: rotate(45deg) translate(0px, 0px);
        }   

        .menu-toggle.active span:nth-child(2) {
        opacity: 0;
        }

        .menu-toggle.active span:nth-child(3) {
        transform: rotate(-45deg) translate(0px, 0px);
        }

    }

    @media (max-width: 600px) {
        .container {
            height: auto;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .logo-and-info {
            margin: 0;
            text-align: center;
            justify-content: center;
            flex-direction: row;
            margin-top: 20px;
        }
        
        .logo {
            margin-right: 10px;
        }

        .company-info {
            margin: 15px 0 0 0;
            text-align: center;
        }

        .company-info h1 {
            font-size: 4.5vw;
        }

        .company-info p {
            font-size: 4vw;
        }
        
        .contact-number {
            margin: 15px auto;
            text-align: center;
            font-size: 7.5vw;
            
        }

        .contact-us {
            margin: 15px auto;
            margin-top: -5px
        }
    }